div {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

i {
    position: relative;
    bottom: 2px;
}

input {
    color: white;
    background: white;
    text-indent: 25px;
}

.container {
    margin-top: 50px;
}

.searchBar, .searchButton {
    border-radius: 60px;
    background-color: #ff0000;
    color: black;
    border-color: black;
    margin-bottom: 15px;
    box-shadow: 0 9px #999;
}

.filters {
    padding-bottom: 15px;
}

.filterButton {
    border-radius: 60px;
    background-color: #ff0000;
    color: black;
    border-color: black;
    width: 100px;
    font-family: 'Press Start 2P', cursive;
    box-shadow: 0 9px #999;
}

.filterButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.searchButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
